<%- include('includes/admin-header') %>
    <div class="admin_body_container">
        <h1>All Users</h1>
        <div class="user_table_container">
            <table>
            
                <thead>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th class="address_col">Description</th>
                    <th>Edit</th>
                </thead>
                <tbody>
                    <%
                    products.forEach((product)=>{%>
                        <tr>
                            <td><img src="./yohannes.JPG" alt="no image"></td>
                            <td><%=products.name%></td>
                            <td id="email"><%=products.price%></td>
                            <td>User</td>
                            <td  class="address_col"><%=products.description%></td>
                            <td ><i class="fa fa-caret-right"></i></td>
                        
                        </tr>
                    <%})
                    %>
                   
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
