<%- include('includes/user-header') %>
   <main>
    <h1 class="myorders_h">myOrders</h1>
       <div class="cart_container">
           <div class="cart_items_container">
           
            <% Orders.forEach((order, index)=>{ %>
               
                    <div class="cart_item">
                        
                        <div class="c_product_img_container">
                            <a href="">
                                <img src="/uploads/images/<%=order.image[1]%>" alt="image">
                            </a>
                        </div>
                        <div class="c_product_detail_container">
                            <a href=""><i class="fa-solid fa-trash-can"></i></a>
                            <a href=""><h3><%=order.name%></h3></a>
                            
                            <p> Delivery By tomorrow | <span>Free</span> <strong id="qty">QTY: <span>1</span></strong></p>
                            <h2>₹<%=order.price%></h2>
                        </div>
                       
                    </div>
                    
                    <%})%>
             </div>
           
       </div>
   </main>
</body>
</html>